{# templates/demo/firstpage_hasardannot.html.twig #}
{% extends 'firstpage/layout.html.twig' %}
{% block content %}
    <h2>{{message}}:</h2>
    {% if numbers is empty %}
	<p>Pas de nombre généré.</p>
    {% else %}
	<table>
	    <tr><th>Nb</th><th>Parité</th></tr>
	{% for number in numbers %}
		<tr>
		    <td class="{{ cycle(['bon', 'bad'], loop.index) }}">{{ number }}</td>
		    <td class="{{ cycle(['bon', 'bad'], loop.index) }}">{% if number is even %}Pair{% else %}Impair{% endif %}</td>
		</tr>
	{% endfor %}
	</table>
    {% endif %}
{% endblock %}