{# templates/demo/firstpage_demoaddiot_long.html.twig #}
{% extends 'firstpage/layout.html.twig' %}
{% block content %}
    {# Pour détailler chaque éléments... #}
    {{ form_start(form, { 'attr': { 'class': 'vertical' } }) }}
    {{ form_row(form.nom)}}
    {{ form_row(form.ipLocale)}}
     <div class="inline">
 	{{ form_label(form.actif, "Actif (On / Off):") }}
 	{{ form_widget(form.actif, { 'attr': { 'class': 'inline' } })}}
     </div>
    {{ form_end(form) }}
{% endblock %}
