{# templates/demo/layout.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Démonstrations{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/stylesDemos.css') }}" />
{% endblock %}
{% block body %}
    <h1>{% block demoTitle %}{{ nomDemo | title }}{% endblock %}</h1>
    <div id="content">
	{% block content %}<p>Le résultat de la démo.</p>{% endblock %}
    </div>
{% endblock %}
